/* Amiri Font */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUrtLMA7w.ttf') format('truetype');
  font-display: swap;
} 